> # CST1510 Programming for data communication and networks
> # Week 1 Lab – Python Foundations
<hr style="border:2px solid gray">

This session introduces Python’s core building blocks: variables, data types, and input/output operations. These fundamentals support all later work in this module.

---

## Topics
- Variables and data types (`int`, `float`, `str`, `bool`)
- Input (`input()`) and output (`print()`), single/double quotes and escape sequences
- Comments and basic Python syntax (PEP8 naming)
- Numeric and augmented assignment operators
- Built-in functions (`type`, `len`, `round`, `min`, `max`, `sum`)
- Importing simple built-in modules

---

## Lab Structure
Tasks are grouped by difficulty:
- **Threshold** – essential skills
- **Typical** – applied tasks
- **Excellent** – extended challenges
- **Stretch (Optional)** – enrichment problems

At the end, select 1–2 tasks for your portfolio.

## Problem-Solving & Pseudocode (Brief)

1. **Inputs/Outputs** – identify required inputs (types/units) and desired outputs (format/precision).
2. **Steps** – list actions in order: read → convert → compute → display.
3. **Translate** – convert each step to code with clear variable names and f-strings.
4. **Test** – try typical and edge values; verify units and formatting.

**Worked example – Rectangle calculator**

- Inputs: width, height (numbers)  
- Outputs: area and perimeter (2 d.p.)

```python
width = float(input("Width: "))
height = float(input("Height: "))
area = width * height
perimeter = 2 * (width + height)
print(f"Area = {area:.2f}")
print(f"Perimeter = {perimeter:.2f}")
```

# Threshold Tasks

### Threshold 1. Questionnaire

Write a program that asks for name, interest, nationality, course, and programming experience, then prints a formatted summary using escape sequences (`\n`, `\t`).

**Example Output:**
```
User Information:
	Name: Alice
	Interest: Security
	Nationality: UK
	Course: Cyber
	Experience: Beginner
```

In [3]:
#Input
name = input("Enter your name: ") 
interest = input("Enter your interest: ")  
nationality = input("Enter your nationality: ")  
course = input("Enter your course: ")  
experience = input("Enter your programming experience(in years): ")  
#Output
print("User Information:")
print("Name:", name)
print("Interest:", interest)
print("Nationality:", nationality)
print("Course:", course)
print("Experience:", experience)

Enter your name:  manan
Enter your interest:  badminton
Enter your nationality:  indian
Enter your course:  bsc
Enter your programming experience:  2

User Information:
Name: manan
Interest: badminton
Nationality: indian
Course: bsc
Experience: 2

### Threshold 2. Rectangle Area & Perimeter

Calculate and print the area and perimeter of a rectangle using fixed values: width = 4.5 and height = 7.9.
Formulas: `area = width * height`, `perimeter = 2 * (width + height)`.

**Example Output:**
```
Area = 35.55
Perimeter = 24.80
```

In [4]:
width = 4.5
height = 7.9

# Calculations
area = width * height
perimeter = 2 * (width + height)

# Output
print("Area:", area)
print("Perimeter:", perimeter)

Area: 35.550000000000004
Perimeter: 24.8

### Threshold 3. Convert Pounds to Kilograms

Ask the user for a value in pounds, convert to kilograms using `1 lb = 0.454 kg`, and print the result.

**Example Output:**
```
55.5 pounds is 25.197 kilograms
```

In [5]:
#input
pounds=int(input("Enter a value in pounds"))

# Conversion (1 lb = 0.454 kg)
kilograms = pounds * 0.454

# Output
print("Weight in kilograms:", kilograms)

Enter a value in pounds 22

Weight in kilograms: 9.988

### Threshold 4. Convert Feet to Meters

Ask the user for a value in feet, convert to meters using `1 ft = 0.305 m`, and print the result.

**Example Output:**
```
16.5 feet is 5.0325 meters
```

In [6]:
# input
feet=int(input("Enter a value in feet"))

#Conversion (1 ft = 0.305 m)
m = feet * 0.305

#output
print("Distance in metres is", m)

Enter a value in feet 5

Distance in metres is 1.525

### Quick Check (no code submission)
- What data type does `input()` return? Use `type(input("x"))` to verify.  
- Show one example of an escape sequence in `print()`.  
- What is the difference between `/` and `//`? Provide a one-line example for each.

# Typical Tasks

### Typical 1. Total Time to Watch a Series

Compute total viewing time (no breaks) for a series:
- 5 seasons, 10 episodes per season
- Season 1: 45 minutes 35 seconds per episode
- Seasons 2–5: 35 minutes 15 seconds per episode
Display the total as hours, minutes, and seconds.

**Example Output:**
```
Total time: 39h 30m 0s
```

In [7]:
# Time per episode in seconds
season1_ep = 45 * 60 + 35
other_ep = 35 * 60 + 15

# Totals
season1_total = season1_ep * 10
other_total = other_ep * 40
total_seconds = season1_total + other_total

# Convert to h:m:s
hours = total_seconds // 3600
minutes = (total_seconds % 3600) // 60
seconds = total_seconds % 60

print("Total viewing time: {} hours, {} minutes, {} seconds".format(hours, minutes, seconds))

Total viewing time: 31 hours, 5 minutes, 50 seconds

### Typical 2. Savings Projection (3 Years)

Compute final savings after 3 years given:
- Save £10 every week for 3 years
- Year 1 bonus: +£20 each week
- Every 2 weeks: −£0.50 (sister)
Assume 52 weeks per year; use arithmetic and augmented assignment; no conditionals.

**Example Output:**
```
Final savings after 3 years: £4689.50
```

In [8]:
# Initialize variables
total_savings = 0
weekly_savings = 10  # £10 per week
year1_bonus = 20     # £20 bonus per week in year 1
sister_deduction = 0.50  # £0.50 every 2 weeks

# Calculate total weeks
weeks_per_year = 52
total_years = 3
total_weeks = weeks_per_year * total_years

# Calculate savings
for week in range(1, total_weeks + 1):
    # Add weekly savings
    total_savings += weekly_savings
    
    # Add year 1 bonus (only for first 52 weeks)
    year1_bonus_this_week = year1_bonus if week <= weeks_per_year else 0
    total_savings += year1_bonus_this_week
    
    # Subtract sister's deduction (every 2 weeks)
    sister_deduction_this_week = sister_deduction * (week % 2)  # 0.5 when odd, 0 when even
    total_savings -= sister_deduction_this_week

# Display result
print(f"Total savings after 3 years: £{total_savings:.2f}")

Total savings after 3 years: £2561.00

### Typical 3. Cyber: HTTP Log Composer

Ask for IP, method, path, status, and bytes, then print a single combined log line (Apache-style).

**Example Output:**
```
192.168.1.10 - "POST /auth" 401 512
```

In [9]:
ip = input("Enter IP address: ") #input ip address
method = input("Enter HTTP method (GET, POST, etc.): ") #input method
path = input("Enter path (e.g., /auth): ") #input path
status = input("Enter status code: ") #input status
bytes_sent = input("Enter bytes sent: ") #input bytes_sent

print(f'\n{ip} - "{method} {path}" {status} {bytes_sent}') #print single combined log line(Apache_style)

Enter IP address:  192.168.1.10
Enter HTTP method (GET, POST, etc.):  GET
Enter path (e.g., /auth):  auth
Enter status code:  401 512
Enter bytes sent:  3

192.168.1.10 - "GET auth" 401 512 3

### Typical 4. Data Science: Dataset Metadata

Ask for dataset name, rows, and columns. Print:
- dataset name in quotes
- rows and columns
- total cells (rows × columns)

**Example Output:**
```
"sales.csv"
Rows: 120
Columns: 8
Cells: 960
```

In [10]:
dataset = input("Enter dataset name: ") #input dataset
rows = int(input("Enter number of rows: ")) #input rows
cols = int(input("Enter number of columns: ")) #input columns

cells = rows * cols

print(f'\n"{dataset}"') #print dataset
print(f"Rows: {rows}") #print rows
print(f"Columns: {cols}") #print columns
print(f"Cells: {cells}") #print cells

Enter dataset name:  ma
Enter number of rows:  2
Enter number of columns:  4

"ma"
Rows: 2
Columns: 4
Cells: 8

### Typical 5. IT: INI-style Config Printer

Ask for three `key=value` pairs (via separate prompts) and print them as an INI block with indentation.

**Example Output:**
```
[config]
	max_connections = 200
	timeout = 30
	region = eu-west-2
```

In [11]:
key1 = input("Enter first key=value pair: ") #input key1
key2 = input("Enter second key=value pair: ") #input key2
key3 = input("Enter third key=value pair: ")  #input key3

print("\n[config]")
print(f"\t{key1}")
print(f"\t{key2}")
print(f"\t{key3}")

Enter first key=value pair:  23
Enter second key=value pair:  32
Enter third key=value pair:  12

[config]
	23
	32
	12

# Excellent Tasks

### Excellent 1. Cyber: Timestamped Auth Event

Ask for a username and action (e.g., `LOGIN` or `LOGOUT`) and print a timestamped event line.

**Example Output:**
```
[2025-09-17 14:20:15] LOGIN user=alice
```


*Optional hint:* `from datetime import datetime; datetime.now().strftime(...)`

In [12]:
from datetime import datetime

username = input("Enter username: ")
action = input("Enter action (LOGIN or LOGOUT): ")

timestamp = datetime.now().strftime("%Y-%m-%d %H:%M:%S")

print(f"\n[{timestamp}] {action.upper()} user={username}")

Enter username:  manan
Enter action (LOGIN or LOGOUT):  login

[2025-11-12 12:07:09] LOGIN user=manan

### Excellent 2. Data Science: Mini Statistics Report

Ask for five numeric values (space-separated). Print the values, total, mean, median, and sample standard deviation.

**Example Output:**
```
Values: 80, 90, 70, 85, 75
Total = 400.00
Mean = 80.00
Median = 80.00
Std Dev = 7.91
```


*Optional hint:* `import statistics as stats`

In [13]:
import statistics as stats

values = list(map(float, input("Enter five numbers separated by spaces: ").split()))

total = sum(values)
mean = stats.mean(values)
median = stats.median(values)
stdev = stats.stdev(values)

formatted_values = ", ".join([str(int(v)) if v.is_integer() else f"{v}" for v in values])

print(f"\nValues: {formatted_values}")
print(f"Total = {total:.2f}")
print(f"Mean = {mean:.2f}")
print(f"Median = {median:.2f}")
print(f"Std Dev = {stdev:.2f}")

Enter five numbers separated by spaces:  2 3 4 5 6

Values: 2, 3, 4, 5, 6
Total = 20.00
Mean = 4.00
Median = 4.00
Std Dev = 1.58

### Excellent 3. IT: Path Decomposition Report

Ask for a file or directory path and print its absolute path, parent, name, stem, and suffix.

**Example Output:**
```
Absolute path: /home/user/project/service.log
Parent: /home/user/project
Name: service.log
Stem: service
Suffix: .log
```


*Optional hint:* `from pathlib import Path`

In [14]:
from pathlib import Path

path_input = input("Enter a file or directory path: ")
path = Path(path_input).resolve()

print(f"\nAbsolute path: {path}")
print(f"Parent: {path.parent}")
print(f"Name: {path.name}")
print(f"Stem: {path.stem}")
print(f"Suffix: {path.suffix}")

Enter a file or directory path:  text.txt

Absolute path: /home/02c1319f-b792-4e13-8b62-e272ef63e7be/text.txt
Parent: /home/02c1319f-b792-4e13-8b62-e272ef63e7be
Name: text.txt
Stem: text
Suffix: .txt

In [ ]:
from pathlib import Path
inp = input("Enter a path: ")
p = Path(inp).expanduser().resolve()
#...

### Excellent 4. System Info Banner

Ask for a hostname and print OS and Python version as a simple banner (one value per line).

**Example Output:**
```
Host: server01
OS: Linux
Python: 3.11.5
```


*Optional hint:* `import platform; platform.system(); platform.python_version()`

In [15]:
import platform

hostname = input("Enter hostname: ")

print(f"\nHost: {hostname}")
print(f"OS: {platform.system()}")
print(f"Python: {platform.python_version()}")

Enter hostname:  manan

Host: manan
OS: Linux
Python: 3.11.5

# Stretch

### Stretch 1. Sum of First n Integers

Ask for a positive integer `n` and compute the sum `n*(n+1)//2`. Print the result.

**Example Output:**
```
Sum of 1..10 = 55
```

In [16]:
n = int(input("Enter a positive integer n: "))
total = n * (n + 1) // 2
print(f"\nSum of 1..{n} = {total}")

Enter a positive integer n:  3

Sum of 1..3 = 6

### Stretch 2. Pentagon Area

Ask for the side length `s` and compute the area: `area = 5*s**2 / (4*tan(pi/5))`. Print to 2 d.p.

**Example Output:**
```
Area = 172.05
```


*Optional hint:* `from math import tan, pi`

In [17]:
from math import tan, pi

s = float(input("Enter side length: "))
area = 5 * s**2 / (4 * tan(pi / 5))
print(f"\nArea = {area:.2f}")

Enter side length:  8

Area = 110.11

### Stretch 3. Population Projection (5 Years)

Assume current population is 312032486 and 1 year = 365 days.
Rates: birth every 7s, death every 13s, immigrant every 45s.
Compute projected population for each of the next 5 years using integer division (`//`).

**Example Output:**
```
Year 1: 315,xxx,xxx
...
Year 5: ...
```


*Optional hint:* Compute yearly net change once; then add each year.

In [18]:
population = 312032486
seconds_per_year = 365 * 24 * 60 * 60
birth_rate = seconds_per_year // 7
death_rate = seconds_per_year // 13
immigrant_rate = seconds_per_year // 45

net_change = birth_rate + immigrant_rate - death_rate

for year in range(1, 6):
    population += net_change
    print(f"Year {year}: {population:,}")

Year 1: 314,812,582
Year 2: 317,592,678
Year 3: 320,372,774
Year 4: 323,152,870
Year 5: 325,932,966

### Stretch 4. Payroll Statement

Ask for: employee name, hours worked, hourly rate, federal tax rate, state tax rate.
Print a formatted payroll slip with gross pay, each deduction, and net pay (2 d.p.).

**Example Output:**
```
Employee: Smith
Gross pay: £97.50
Federal withholding: £19.50
State withholding: £8.78
Net pay: £69.22
```

In [19]:
name = input("Enter employee name: ")
hours = float(input("Enter hours worked: "))
rate = float(input("Enter hourly rate (£): "))
federal_tax = float(input("Enter federal tax rate (as decimal): "))
state_tax = float(input("Enter state tax rate (as decimal): "))

gross_pay = hours * rate
federal_withholding = gross_pay * federal_tax
state_withholding = gross_pay * state_tax
net_pay = gross_pay - (federal_withholding + state_withholding)

print(f"\nEmployee: {name}")
print(f"Gross pay: £{gross_pay:.2f}")
print(f"Federal withholding: £{federal_withholding:.2f}")
print(f"State withholding: £{state_withholding:.2f}")
print(f"Net pay: £{net_pay:.2f}")

Enter employee name:  manan
Enter hours worked:  8
Enter hourly rate (£):  12
Enter federal tax rate (as decimal):  1.2
Enter state tax rate (as decimal):  1.3

Employee: manan
Gross pay: £96.00
Federal withholding: £115.20
State withholding: £124.80
Net pay: £-144.00

---

## Portfolio
Select one or two completed activities that best demonstrate this week’s learning. Polish the code (naming, formatting, comments) so you can commit them to Git in later weeks